{% extends "layout.html" %}

{% block body %}
<h1>Dashboard</h1>
<h2>Hello {{session.username}}</h2>
 <a class="btn btn-success" href="/add_Post"> Add Post</a>
  <hr>
  <table class="table table-striped">
    <tr>
      
      <th>Title</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for post in articles %}
      <tr>
        <td>{{post.title}}</td>
        <td>{{post.dt}}</td>
        <td><a href="edit_post/{{post.id}}" class="btn btn-default pull-right">Edit</a></td>
        {# <td>
          <form action="{{url_for('delete_article', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td> #}
      </tr>
    {% endfor %}
  </table>
{% endblock  %}