{% extends 'layout.html' %}

{% block body %}
    
    <h1>Posts</h1>


    <hr>
    <table class="tablex">
        <tr>
            <th>Index</th>
            <th>Author</th>
            <th>Title</th>
            <th>Brief description</th>
            <th>Date</th>
            <th></th>
            <th></th>

        </tr>

        {% for post in posts %}
        <div>     
                <tr class="hvr" onclick="window.location='all_posts/{{ post.post_id }}';">
                    <td> {{loop.index}} </td>
                    <td> <a href="profile_user/{{post.username}}">{{post.username}}</a> </td>
                    <td> {{post.title}} </td>
                    <td> {{post.brief_desc}} </td>
                    <td> {{post.dt}} </td>
                    <td> <a href="approved/{{ post.post_id }}" class="btn btn-default pull-right">Approve</a> </td>
                    <td> <a href="rejected/{{ post.post_id }}" class="btn btn-danger pull-right">Reject</a> </td>
                
                </tr>
            
        </div>
        {% endfor %}
    </table>
    </hr>





{% endblock %}