{% extends 'layout.html' %}

{% block body %}
  <h1>Register</h1>
  {% from "includes/_formhelpers.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}"/>  
  
  {# <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.username, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form> #}

  {# <div class="container"> #}
  

  <form method="POST" action="">
    <div class="row">
      <h4>Account</h4>
      {# Username #}
      <div class="input-group input-group-icon">
        {# <input type="text" placeholder="User Name"/> #}
        {{render_field(form.username, class_="form-control")}}
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      {# first name #}
      <div class="input-group input-group-icon">
        {# <input type="text" placeholder="First Name"/> #}
        {{render_field(form.name, class_="form-control")}}
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      {# last name #}
      <div class="input-group input-group-icon">
        {# <input type="text" placeholder="Last Name"/> #}
        {{render_field(form.name, class_="form-control")}}
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>

      {# email #}
      <div class="input-group input-group-icon">
        <input type="email" placeholder="Email Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      {#passwrod#}
      <div class="input-group input-group-icon">
        <input type="password" placeholder="Password"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-half">
      {#DATE OF BIRTH#}
        <h4>Date of Birth</h4>
        <div class="input-group">
          <div class="col-third">
            <input type="text" placeholder="DD"/>
          </div>
          <div class="col-third">
            <input type="text" placeholder="MM"/>
          </div>
          <div class="col-third">
            <input type="text" placeholder="YYYY"/>
          </div>
        </div>
      </div>
      {#GENDER#}
      <div class="col-half">
        <h4>Gender</h4>
        <div class="input-group">
          <input id="gender-male" type="radio" name="gender" value="male"/>
          <label for="gender-male">Male</label>
          <input id="gender-female" type="radio" name="gender" value="female"/>
          <label for="gender-female">Female</label>
        </div>
      </div>
    </div>
    {# <div class="row">
      <h4>Payment Details</h4>
      <div class="input-group">
        <input id="payment-method-card" type="radio" name="payment-method" value="card" checked="true"/>
        <label for="payment-method-card"><span><i class="fa fa-cc-visa"></i>Credit Card</span></label>
        <input id="payment-method-paypal" type="radio" name="payment-method" value="paypal"/>
        <label for="payment-method-paypal"> <span><i class="fa fa-cc-paypal"></i>Paypal</span></label>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Card Number"/>
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
      </div>
      <div class="col-half">
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Card CVC"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
      </div>
      <div class="col-half">
        <div class="input-group">
          <select>
            <option>01 Jan</option>
            <option>02 Jan</option>
          </select>
          <select>
            <option>2015</option>
            <option>2016</option>
          </select>
        </div>
      </div>
    </div> #}
    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group">
        <input id="terms" type="checkbox"/>
        <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
      </div>
    </div>
  </form>
{# </div> #}
{% endblock %}